*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-link{
  color: black;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}
.nav-link:hover{
  color: white;
background-color:#212529;
border-radius: 10px;
font-weight: bold;


}